/* Estilos para o contêiner principal */
body {
    font-family: 'Arial', sans-serif;
    background-color: #00a2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

/* Estilo das caixas de seleção */
.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box select {
    width: 100%;
    padding: 12px 30px 12px 12px; /* Ajuste para espaço para o ícone */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.input-box select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #aaa;
    pointer-events: none;
}

/* Efeitos de hover */
.input-box select:hover {
    border-color: #0056b3;
}

/* Adicionar espaçamento e estilizar o botão de envio */
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.qrcode {
    display: block; 
    margin: 0 auto; 
}

.pagamento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
}